# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables
.env

# Python
*.pyc
__pycache__/
env/
venv/
*.pyo
*.pyd
*.swp

# Logs
*.log

# IDE-specific
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Build files
build/
dist/

# Misc
.DS_Store
Thumbs.db


